
/***********************theme css*****************/
body{font-family: 'Raleway', sans-serif !important;    overflow-x: hidden;}
.white{color: #fff !important;}
.black {
    color: #414141 !important;
}
section.videocall-cntr {
    background: #4c8efc;
    padding: 3% 0%;
}
.reciver-box {
	min-height: 550px;
	background:#fff;
	cursor:pointer;
	    position: relative;
    width: 70%;
    margin:auto;
    box-shadow: 3px -2px 5px rgba(6, 6, 7, 0.25);
}
.reciver-box:hover .call-button-box{
opacity: 1;
    transition: all .2s ease-in-out;
}

.call-button-box {
	 opacity: 0;
    transition: all .2s ease-in-out;
       position: absolute;
    /* border: 0px; */
    bottom: 20px;
    left: 38%;
    /* margin: 0px auto; */
    text-align: center;
}
.caller-box {
    position: absolute;
    bottom: 0;
    right: 0;
    background:#fff;
    margin: 20px;
    width: 200px;
    height:200px;
             border: 1px solid #8d8d8e;
    box-shadow: 0px 0px 5px #3e3e3e;
}
button.btn-call-icon {
	background:#fff;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #212121;
    margin: 10px;
    outline:none;
}
button.btn-call-icon.call {
    background: #f44336;
    color: #fff;
    border: 2px solid #f44336;
}
.btn.btn-default {
    background: #fd9263;
    color: #fff;
    padding: 8px 24px;
    border-radius: 30px;
    margin: 10px 10px 10px 0px;
    text-transform: uppercase;
    border: 2px solid #fd9263;
    font-weight: 700;
}
.btn.btn-default:hover {
    background: #fff;
    color: #fd9263;
    border: 2px solid #fd9263;
    transition: 0.6s;
}
.btn.btn-default.btn_trans {
    background: rgba(0, 0, 0, 0);
    color: #fd9263;
    font-weight: 700;
}
.btn.btn-default.btn_trans:hover {
    background: #fd9263;
    color: #fff;
    transition: 0.6s;
}

button.close.connection {
    position: absolute;
    top: -13px;
    right: -13px;
    background: #fd9263;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    outline: none;
}
h4.modal-title img {
    width: 140px;
    height: 140px;
}
.modal-body.connection {
    padding: 40px 20px;
}
/**-----------------media query------------------------**/
@media (min-width: 320px) and (max-width: 767px){
    section.videocall-cntr {
    background: #4c8efc;
    padding: 1% 0%;
}
	.reciver-box {
   background:#fff;
    width: 94%;
    min-height: 400px;
    margin: 3% auto;
    /* box-shadow: 3px -2px 5px rgba(6, 6, 7, 0.25); */
    border: 1px solid #ccc;
}
.caller-box {
    position: absolute;
    top: 0;
    right: 0;
    background:#fff;
    margin: 20px;
    width: 90px;
    height: 90px;
    margin: 10px;
       border: 1px solid #8d8d8e;
    box-shadow: 0px 0px 5px #3e3e3e;
}
.call-button-box {
    opacity: 0;
    transition: all .2s ease-in-out;
    position: absolute;
    /* border: 0px; */
    bottom: 20px;
    left: 14%;
    /* margin: 0px auto; */
    text-align: center;
}
.modal-dialog.connection {
    position: relative;
    width: auto;
    margin: 10% 5%;
}
}
@media (min-width: 768px) and (max-width: 1024px){

	.reciver-box {
    border: 1px solid #ccc;
    background: #fff;
    min-height: 550px;
    cursor: pointer;
    position: relative;
    width: 92%;
    margin: 3% auto;
    box-shadow: 3px -2px 5px rgba(6, 6, 7, 0.25);
}
	.caller-box {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 150px;
    height: 150px;
        border: 1px solid #8d8d8e;
    box-shadow: 0px 0px 5px #3e3e3e;
}
.call-button-box {

    left: 33%;
    
}
}
@media (min-width: 1025px) and (max-width: 1365px){
	.reciver-box {
	min-height: 510px;
}

}