.boxing
{
    position: absolute;
    z-index: 1000;
    margin-left: 120px;
    width: 300px;
    position: absolute;
    z-index: 1000;
    height: 540px;
    top: 50px;
    border-radius: 25px;
    border: 1px solid #eee;
    box-shadow: 3px 3px 15px #eee; 
    background-color: #fff;
    
    
}
/* background: url(../img/Home_bg.png) no-repeat; */ 

body
{
	background: none !important;
}
.form-body {
    width: 100% !important;
}
.pt-6 {
    padding-top: 150px !important;
}

.py-6 {
    padding-top: 0%;
    padding-bottom: 8%;
   
}
.left-nav .top-body {
    border-radius: 25px;
    width: auto;
    height: 63px;
    padding-left: 100px;
    background-color: white;
}
.nav ul {
    list-style: none;
    overflow: hidden;
    padding-left: 40px;
    padding-top: 12%;
    width: 100%;
    overflow-x: hidden !important;
}
div.nav {
    position: absolute;
    width: 100%;
    height: 475px;
    /* border: 1px solid green; */
    padding: 20px;
    border-radius: 26px;
}
.left-nav {
    position: absolute;
    width: 295px;
    z-index: 3333;
    height: unset;
    /* background: rgb(247, 247, 247); */
    /* background: rgba(255, 0, 0, 0.26); */
}
.btn-sz {
    width: 100%;
    height: 42px;
}
.loginh1
{
	    padding-top: 200px !important;
}


/* Thulasi CSS starts */

/* Typography */
.h1-text {
	font-size: 32px; !important
	font-weight: 900;	
}

.h2{
	font-size: 24px;
}

.h3{
	font-size: 20px;
}

.h4{
	font-size: 16px;
}

/* Body text */
.h5{
	font-size: 14px;
}

/* info */
.h6{
	font-size: 10px;
}


/* Typography ends */


.pt-25 {
	padding-top: 175px;
}

.error {
	color: red;
	font-size: 13px !important;
}

.alert-danger {
	font-size: 13px !important;
	
}

.h6 {
	font-size:10px !important; 
}
#cord {
    padding-left: 35px !important;
}
#cord a {
    padding-right: 16px !important;
    float: right;
}
.fixed-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

.logo-pos {
	top: 10px !important;
}



/* Thulasi CSS ends */


