/*

font-family: 'Open Sans', sans-serif;

font-family: 'Roboto', sans-serif;*/



body {

	font-family: 'Open Sans', sans-serif;

}



.left-nav {

	position: fixed;

	width: 295px;

	z-index: 3333;

	height: 100%;

	/* background: rgb(247, 247, 247);*/

	/*	background: rgba(255, 0, 0, 0.26);*/

}



.brand-name {

	font-family: sans-serif;

	font-weight: 900;

	font-size: 30px;

	font-style: italic;

	color: #efefef;

	display: inline-block;

	margin-top: 10px;

	margin-left: 35px;
	

}



span.fa-angle-left {

	color: #fafafa;

	font-size: 30px;

	font-weight: 600;

}



.left-nav .top-body {

	width: auto;

	height: 63px;

	padding-left: 100px;

	background-color: white;

}



.toggleTab {

	width: 35px;

	/*background-color: #1f1e21;*/

	height: 25px;

	position: absolute;

	top: 20px;

	left: 15px;

	z-index: 999999;

	cursor: pointer;

	display: inline-block;

}



.tog-icon {

	border-bottom: 1px solid #1b1e21;

	position: relative;

	transform: rotate(0deg);

	transition: 0.5s;

}



.tog-icon:nth-child(1) {

	width: 15px;

	top: 7px;

}
/* changed width from 35px */


.tog-icon:nth-child(2) {

	width: 15px;

	top: 14px;

}



.toggleTab .active.tog-icon:nth-child(1) {

	width: 25px;

	top: 9px;

	transform: rotate(48deg);

	transition: 0.5s;

}
/* changed width from 35px */


.toggleTab .active.tog-icon:nth-child(2) {

	width: 25px;

	top: 7px;

	transform: rotate(-48deg);

	transition: 0.5s;

}



.black-nav {

	background: white;
    color: black;
}



/*

.gray-nav {

	background: #f0f0f0;

}

*/



div.nav {

	position: absolute;

	width: 100%;

	height: 100%;

	/*	border: 1px solid green;*/

	padding: 20px;

}



.nav ul li span {

	font-size: 10px;

	text-transform: uppercase;

	letter-spacing: 2px;

	color: black;

}

.nav ul li
{
	padding-bottom: 27px;
}

.nav ul {

	list-style: none;
	overflow: scroll;
	padding-left: 55px;
	padding-top: 12%;
	width: 100%;

}



.nav ul li.shop-name a {

	text-transform: capitalize;

}



.dacc {

	margin-top: 50px;

}



.bottom-3 {


	border-bottom: 0px !important;

}



.googlemap {

	position: absolute;

	width: 77.5%;

	height: 100%;

}



.contcolr {

	color: white;

}



.editform {

	margin-left: 15px;

}



.nav ul li a {

	 color: black;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 34px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;

}



.leftbar-bg {

	background-color: #FAFAFA;

}



.nav ul li:nth-child(2) {



}



.nav ul li:nth-child(2) a {

	

}



.nav ul li:nth-child(2) a:nth-child(2) {

	margin-left: 15px;

}
.nav ul li:last-child  {

	border-top: dotted;
    border-color: #ddd;
    margin-top: 20%;

}
.nav ul li:last-child  a{
    font-weight: 100;
    font-size: 12px;
}





.hide-nav {

	display: none;

}



.oval-2 {

	position: absolute;

	left: 30px;

	width: 50px;

	height: 50px;

	background-color: #D8D8D8;

	border: 1px solid #979797;

	border-radius: 50%;

	vertical-align: middle;

}



.py-6 {

	padding-top: 8%;

	padding-bottom: 8%;

}



h1 {

	font-weight: 300;

	font-size: 28px;

	color: #4a4a4a;

	letter-spacing: 0px;

}



input::placeholder {

	font-weight: 300;

	font-size: 14px;

}



.form-body div.sad {

	width: 100px;

	-ms-transform: rotate(90deg);

	/* IE 9 */

	-webkit-transform: rotate(90deg);

	/* Chrome, Safari, Opera */

	transform: rotate(90deg);

}



.form-body div.sad strong {

	font-weight: 600;

	font-size: 50px;

}



.form-body div.sad span.sad-fa {

	font-size: 50px;

	font-weight: 300;

}



h1.miss-you {

	padding: 0px 50px;

}



.form-body {

	width: 391px;

}



.form-body input {

	font-weight: 300;

	border-top: 0px;

	border-left: 0px;

	border-right: 0px;

	padding-left: 20px;

	font-size: 14px;

	color: #9b9b9b;

	border-bottom-color: #979797;
	

}



.form-body span.rem {

	font-size: 14px;

	color: #4a4a4a;

}



.form-body .lr {

	float: left;

}



.form-body .lr:nth-child(2) {

	float: right;

}



.form-body .lr:nth-child(2) a {

	font-weight: 400;

	font-size: 14px;

	color: #0183cb;

}



.form-group3 {

	overflow: hidden;

}



span.custom-control-indicator {

	border-radius: 0px !important;

	width: 20px;

	height: 20px;

}



.custom-control-description {

	padding-top: 3px;

	padding-left: 5px;

}



.form-url {
 margin-top: 16px;

}



.ptext,

.terms p,

.form-url p {

	font-weight: 300;

	font-size: 14px;

	color: #4a4a4a;

}



.terms p span,

.form-url p span {

	font-weight: 400;

	font-size: 14px;

	color: #0183CB;

}



.form-url p span.map {

	padding-left: 10px;

	text-transform: none;

	letter-spacing: 0px;

}



.form-url p span.map a:hover {

	text-decoration: none;

}



.form-url p span {

	padding-left: 10px;

	text-transform: uppercase;

	letter-spacing: 3px;

}



span.custom-control-indicator:focus {

	background-color: #000;

}



.form-body .btn {

	border-radius: 0px;

}



.btn-text2 {

	font-weight: 600;

	font-size: 18px;

	text-transform: uppercase;

	color: #ffffff;

}



.btn-text3 {

	font-weight: 600;

	font-size: 18px;

	text-transform: uppercase;

	color: #ffffff;

	letter-spacing: 5px;

}



.search-box {

	position: relative;

}



.form-body input[type=search] {

	border: 1px solid #9a9a9a !important;

	border-radius: 50px;

	padding-left: 15px;

	height: 45px;

}



button.search-btn {

	background-color: transparent;

	border: 0px;

	top: 0px;

	right: 10px;

	position: absolute;

}



button.search-btn i.fa {

	color: black;

	font-weight: 600;

	font-size: 20px;

}



button.search-btn:focus {

	outline: 0;

}



.btn-text {

	font-weight: 600;

	letter-spacing: 10px;

	font-size: 18px;

	text-transform: uppercase;

	color: #ffffff;

}



.btn-sz {

	width: 391px;

	height: 50px;

}



.btn-green {

	background-color: #70b12d;

}



.btn-orng {

	background-color: #FF9600;

}



.btn-red {

	background-color: #FF5050;

}







.right-nav {

	position: absolute;

	top: 0px;

	right: 0px;

	width: 250px;

	padding: 5px 25px;

}



.shop-login-signup span {

	font-size: 10px;

	color: #9B9B9B;

	letter-spacing: 2px;

}



.login-signup-link ul {

	list-style: none;

	margin: 0px;

	padding: 0px;

}



.login-signup-link ul li {

	display: inline-block;

	margin-right: 25px;

}



.login-signup-link ul li a {

	font-weight: 600;

	font-size: 12px;

	color: #046FAA;

	letter-spacing: 2px;

	text-transform: uppercase;

}



.ml-6 {

	margin-left: 280px;

}



.px-6 {

	padding-left: 70px;

	padding-right: 70px;

}



.header-body {

	border-bottom: 1px solid rgba(151, 151, 151, 0.2);

}



.coll {

	display: inline-block;

	width: 49.7%;

}



.coll:nth-child(2) .btn-body {

	text-align: right;

}



.oval,

.s-name {

	display: inline-block;

}



.s-name h1 {

	font-weight: 600;

	font-size: 18px;

	color: #4a4a4a;

	margin-bottom: 0px;

}



.s-name p {

	font-weight: 300;

	font-size: 12px;

	color: #4a4a4a;

	margin-bottom: 0px;

}



div.oval {

	width: 50px;

	height: 50px;

	background-color: #D8D8D8;

	border: 1px solid #979797;

	border-radius: 50%;

	vertical-align: middle;

}



div.s-name {

	width: 200px;

	vertical-align: middle;

}



.bttn {

	border: 0px;

	height: 30px;

	width: 81px;

	border-radius: 3px;

	font-size: 12px;

	letter-spacing: 0px;

	font-size: 12px;

	background-color: transparent;

}



.bttn-blue {

	color: #FFFFFF;

	background-color: #0183CB;

}



.bttn-border-blue {

	color: #0183CB;

	border: 2px solid #0183CB;

}



.site-url p,

.date-time p,

.map-kms p,

.service p,

.parking p,

.address p,

.contact p {

	font-weight: 300;

	padding-left: 24px;

	margin-bottom: 0px;

	font-size: 14px;

	color: #4A4A4A;

	letter-spacing: 0;

	line-height: 26px

}



.site-url p:nth-child(1),

.date-time p:nth-child(1),

.map-kms p:nth-child(1),

.service p:nth-child(1),

.parking p:nth-child(1),

.address p:nth-child(1),

.contact p:nth-child(1) {

	margin-top: 20px;

	font-size: 12px;

	color: #9B9B9B;

}



.map-kms p:nth-child(1),

.date-time p:nth-child(1),

.site-url p:nth-child(1),

.contact p:nth-child(1) {

	padding-left: 0px;

}



.date-time p:nth-child(1) i.fa,

.site-url p:nth-child(1) i.fa,

.map-kms p:nth-child(1) i.fa,

.contact p:nth-child(1) i.fa {

	margin-right: 8px;

	vertical-align: middle;

}



.map-link a {

	text-decoration: none;

	font-size: 12px;

	color: #0183CB;

}



.fa-icon i.fa {

	font-size: 18px;

	color: #A4AAB3;

}



.fa-icon .parking i.fa {

	font-size: 14px;

	color: #A4AAB3;

}



.fa-icon .parking i.fa-motorcycle {

	color: rgba(164, 170, 179, 0.3);

	margin-right: 10px;

}



.img {

	

	width: 300px;

	border-radius: 5px;

	background-color: #333;

}



.result-text {

	font-size: 12px;

	color: #4A4A4A;

	letter-spacing: 0;

}



/*ashish css*/



button {

	cursor: pointer;

}



.form-group.has-error .form-control {

	border-color: #dd4b39;

	box-shadow: none;

}



.loader {



	background-image: url('../img/ajax-loader.gif');

	position: fixed;

	z-index: 99999;

	top: 0;

	bottom: 0;

	right: 0;

	left: 0;

	background-color: rgba(0, 0, 0, 0.29);

	background-repeat: no-repeat;

	background-position: center;

}



.logo {

	color: white;

	text-decoration: none;

	margin-left: -10px;

}



.spancol {

	color: white;

}



.logincheckbox {



	border-radius: 0px !important;

	position: absolute;

	top: 0.29rem;

	left: 0;

	display: block;

	width: 1rem;

	height: 1rem;

	pointer-events: none;

	-webkit-user-select: none;

	-moz-user-select: none;

	-ms-user-select: none;

	user-select: none;

	background-color: black;

	background-repeat: no-repeat;

	background-position: center center;

	background-size: 50% 50%;

	width: 20px !important;

	height: 20px !important;

}



.error {

	color: red;
}



.form-dash {

	width: 96%;

	padding-left: 12px;

	padding-top: 20px;

}



.form-dash input[type=search] {

	border: 1px solid #c4c4c4 !important;

	border-radius: 50px;

	/*	padding-top: 2px;*/

	height: 32px;

	font-size: 12px;

}



.form-dash input[type=search]::placeholder {

	color: #9B9B9B;

	font-size: 12px;

}



button.search-dash-btn {

	background-color: transparent;

	border: 0px;

	top: 6px;

	right: 8px;

	position: absolute;

}



button.search-dash-btn i.fa {

	color: #0183CB;

	font-weight: 600;

	border: 0px;

	border-width: 0px;

	display: inherit;

	padding: 0px;

}



.dashhrow {

	/*	    margin-left: 15px !important;*/

	padding-left: 15px;

}



.marg35 {

	margin-left: 35px;

}



.marg10 {

	margin-top: 10px;

}



.boxmar {

	margin-left: 15px;

}



.borderbtm1 {

	border-bottom: 1px solid black;

	margin-left: 30px;

}



.borderbtm2 {

	border-bottom: 1px solid black;

	margin-left: 40px;

}



div.rec {

	width: 30px;

	height: 30px;



	border: 1px solid #979797;

	border-radius: 10%;

	display: inline-block;

	vertical-align: middle;

}



.daysmar {

	margin-right: -2px;

	text-align: center;

}



.sunmar {

	margin-left: 37px;

}



.Picture {

	margin-top: 60px;

}



.parking {

	margin-top: 60px;

}



.closetime {

	margin-top: 25px;

}



.editprofmar {

	margin-top: 17px;

	margin-bottom: 20px;

}



.editpic {

	color: #0183CB!important;

}



.canbtn {

	color: #0183CB;

}



.daycol {

	background-color: #45e445;

}



.fa-filter {

	color: black;

	border: none;

}



.Shop_name div.left_border {

	width: 5px;

	height: 13px;

	position: absolute;

	top: 4px;

	float: left;

	vertical-align: middle;

	margin-right: 5px;

	border-left: 6px solid #0183cb;

}



.Shop_name span {

	padding-left: 10px;

}



.num_of_search_result {

	font-size: 10px;

	color: #4A4A4A;

	font-weight: 300;

	padding-left: 10px;

}



.kms {

	font-size: 12px;

	color: #9B9B9B;

	font-weight: 300;

	text-align: right;

	padding-right: 25px;

}



.Shop_name {

	font-size: 14px;

	color: #4A4A4A;

	font-weight: 600;

}



.search_result,

.shop_area {

	padding-left: 25px;

	font-weight: 400;

}



.search_result {

	font-size: 12px;

	color: #9B9B9B;

}



.shop_area {

	font-size: 12px;

	color: #4A4A4A;

}

.brand-logo {

	position: absolute;

	top: 15px;
	left: 50px;

}

.brand-logo img{

	

}



.pt-6 {

/* padding-top: 273px; */

}




/*ashish start*/



.leftbar {

	height: 80% !important;

	overflow-y: scroll;

}
 .height100
  {
    height: 100% !important;
  }
  .height10{
    height: 10%;
   }

/*ashish close*/

@media only screen and (max-width: 900px) {
   .left-nav {
    position: fixed;
    width: 100%;
    z-index: 3333;
    height: 10%;
   }
   .height10{
    height: 14%;
   }
   .py-6 {

	padding-top: 0%;

	padding-bottom: 8%;
	

}
.row {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.btn-sz {
    width: 100%;
    height: 50px;
}
.form-body {
    width: 100%;
}
}


/* Typography */
.h1-text {
	font-size: 32px; !important
	font-weight: 900;	
}

.h2{
	font-size: 24px;
}

.h3{
	font-size: 20px;
}

.h4{
	font-size: 16px;
}

/* Body text */
.h5{
	font-size: 14px;
}

/* info */
.h6{
	font-size: 10px;
}


/* Typography ends */

