/*-----------------media query-----------*/
@media (min-width:320px) and (max-width:767px){
    /*screenshots*/
    .app-box ul li {
          width: 43% !important;
    margin: 5px 5px !important;
    }
    .app-box ul {
        padding: 0;
    }

    .navbar-default .navbar-toggle {
        border-color: #d0bf15;
        background: #d7c725;
    }
    #toggle_menu {
        width: 111%;
        /* float: right; */
        padding: 5px 30px;
        background: #d9cd26;
        color: #fff;
    }

    .banner_btn{
        width: 100%;
        overflow: hidden;
        font-size: 9px !important;}

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #d9ce27 !important;
        border-color: #d0cb88;
    }
    nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top a.navbar-brand.page-scroll {
        color: #000 !important;
        font-weight: 600;
        font-size: 24px;
        float: left;
        line-height: 60px;
    }
    nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top {
        background: #fff !important;
        /* margin-bottom: 20px !important; */
        box-shadow: 0px 0px 8px #797676;
    }
    header.pg {
        /* background: #000; */
        /* height: 60px; */
    }
    section.banner {
        margin-top: 62px;
    }
    .login-box {
        padding: 15px;
        background: #f5f5f5;
        border: 1px solid #ccc;
        margin: 20px 10px;
    }
    .sld-txt{
        margin: 0px;
        width: 100%;
        padding: 0 15px;
    }
    p.bt-down a img {
        width: 100px !important;
        height: 30px !important;
    }
    .txt-box {
        width: 100% !improtant;
        top: 0;
        left: 0;
        right: 0;
        padding: 0px;
    }
    .sld-txt h1 {
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    padding: 30px 0px 0px 0px;
    margin: 26px 0px 0px 0px;
}
    .def_heading {
        font-family: 'Open Sans';
        font-size: 24px;
        text-align: center;
        padding: 10px 0;
        font-weight: 600;
        color: #a6a5a5;
    }

    .test_content {
        float: left;
        width: 74%;
        padding: 15px 5px;
        position: relative;
    }
    
    .testimonial1 img {
        float: left;
        width: 60px;
    }
    h4.testi_heading {
        font-size: 14px;
        color: #212121;
        font-weight: 600;
        margin: 0;
    }
    p.testi_text {
        font-size: 11px;
    }
    section.disclamer h3 {
        border-bottom: 1px solid rgba(218, 218, 218, 0.59);
        padding: 0px 0px 10px 0px;
        margin: 10px 0px 10px 0px;
    }

    .nav.nav-tabs.problm-tablist.row.row-centered li {
        width: 30%;
        text-align: center;
        margin: 3px;
        border: 1px solid #d7c725;
        height: 70px;
        padding: 0px;
    }
    ul.nav.nav-tabs.problm-tablist.row.row-centered {
    margin: 0px -3px;
}
    .nav.nav-tabs.problm-tablist.row.row-centered li img {
        width: 30px;
        height: 26px;
    }
    li.col-md-2.active {
        background: #fff;

    }
    .nav.nav-tabs.problm-tablist.row.row-centered li a {
    position: relative;
    display: block;
    padding: 6px 0px !important;
    border: none !important;
    background: none;
    }

    p.tab_haed {
        text-align: center;
        margin: 0px;
        color: #000;
        font-size: 11px;
        padding-top: 0px;
    }
    .nav.nav-tabs.problm-tablist.row.row-centered li:active{
        background: #fff;
    }

    .problm-tablist li:before {display: none;}
    .problm-tablist.nav-tabs>li.active:after {
        content: '\f103';
        position: absolute;
        font-family: FontAwesome;
        background: #fff;
        font-size: 50px;
        color: #d7c725;
        left: 0;
        right: 0;
        bottom: -9px;
    }
    li.doc_list_item {
        padding: 0px 5px;
        width: 50%;
        border: 1px solid rgba(204, 204, 204, 0.33);
        padding: 8px;
    }
    li.doc_list_item img {


        width:50px;
    }

    h4.feature_name {
        font-size: 21px;
        font-weight: 600;
        line-height: 20px;
    }
    .feature_content {
        padding: 0px 0px;
        padding-top: 5px;
    }
    ul.service {
        padding: 5px 0px;
    }
    .fea {
        width: 100%;
        margin: 0px auto;
    }
    .bg{
        background: none;
    }
    .fea-tile.top {
        background: rgba(204, 204, 204, 0.47);
        padding-bottom: 30px;
    }
    .per-img {
        width: 25%;
        float: left;
    }
    .per-detail {
        float: right;
        width: 70%;
    }
    .per-detail h2 {
        padding: 10px 0px;
        font-size: 20px;
        margin: 0px;
    }
    .per-detail h3 span.per-detail-la {
        margin: 0px;
        font-size: 14px;
        font-weight: 600;
    }
    .per-detail h3 span.res-dai {
        font-size: 14px;
        font-weight: normal;
    }
    .btn.btn-default {
       background: #d7c725 !important;
        color: #fff !important;
        padding: 5px 14px;
    }
    .per-detail h3 {
        padding: 0px;
    }
    .top-20{
        padding-top: 0px;
    }
    p.noti-date {
        float:left;
    }
    .per-img img {
        width: auto;
        height: auto;
        border-radius: 50%;
        box-shadow: 0px 0px 5px #847777;
        /* padding: 3px; */
    }
    .per-img1 {
        width: 25%;
        float: left;
        height: 60px;
    }
    .per-detail1 {
        float: left;
        width: 70%;
        margin-left: 10px;
    }
    .home-persone-tile h2 {
        font-size: 18px;
        padding: 3px 0px 0px 0px;
    }
    .home-persone-tile h3 span.per-detail-la {
        margin: 0px;
        font-size: 14px;
        font-weight: 600;
    }
    .home-persone-tile h3 span.res-dai {
        font-size: 14px;
        font-weight: normal;
    }
    .home-persone-tile h3 {
        padding: 0px 0px 3px 0px;
        margin: 0px;
    }
    .user-profile-pic{
        position:relative;
        margin: 10px auto;
    }
    span.per-pro-data {
        font-size: 14px;
    }
    span.per-pro-value {
        font-size: 14px;
    }
    .sm-link.pull-left {
        padding: 0px;
        font-size: 14px;
    }
    .welcome-box h3 {
        font-size: 21px;
    }
    .welcome-box p {
        font-size: 14px;

        padding: 0px;
        width: 100%;
        margin: 0px auto;
    }
    .term-condition h3 {
        font-size: 24px;
        text-align: center;
        font-weight: 300;
        padding:20px;
        font-family: 'Open Sans';
    }
    .term-condition p {

        text-align: justify;
        font-size: 13px;
        font-family: 'Open Sans';
    }
    .term-condition ul.custom-list>li {
        margin-left: 0px;
        font-family: 'Open Sans';
        text-align: justify;
        font-size: 13px;
    }
    .term-condition h5 {
        font-weight: 700;
        font-size: 14px;
        margin: 10px 0;
    }
    .term-condition ul.custom-list>li .item-no {
        margin-left: 0px;
        display: inline-block;
        width: 40px;
        font-family: 'Open Sans';
    }
    .term-condition ul, .tab ul {
        list-style-type: none;
        padding: 0px;
    }
    .term-condition ul.lower-rom-list {
        list-style-type: lower-roman;
        margin-left: 15px;
    }
    ul.lower-rom-list li {
        font-size: 13px;
        font-family: 'Open Sans';
        text-align: justify;
    }
    .dash-home-tile.text-center.user-tile {
   
    padding: 10px !important;
    min-height: 140px !important;
   }
   .dash-home-tile.text-center.user-tile h4 {
    font-size: 14px !important;;
}
span.logo-name {
    float: left;
    margin-top: 6px;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    line-height: 30px;
}
span.tag-line {
    display: block;
    font-size: 11px;
    width: 100%;
    /* padding: 5px 0px 0px 0px; */
    line-height: 22px;
    font-family: 'Raleway', sans-serif !important;
    color: #000;
}
.navbar-default .navbar-nav > li > a:hover {
color:#fff !important;
}
.sld-txt p {
display:none;
}
.person-intro-detail {
    float: left;
    width: 76%;
}
a.Upvote.Button {
    margin: 5px 3px 0px 0px;
}
ul.share {
    padding: 0px;
    float: none;
    /* width: 100px; */
    margin: 10px 0px;
}
.person-intro-detail h5 {
    margin: 0px;
    line-height: 20px;
}
.single-person-img {
    width: 11%;
    float: left;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}
.comment-input-field {
    float: left;
    width: 85%;
}
.single-person-comment {
    margin: 3px 0px 20px;
}
div#more h5 {
    line-height: 20px;
    font-weight: 600;
}
.tab-content.service-field {
      width: 100%;
    padding: 20px 23px;
    }
.tab-content.service-field ul {
    padding-left: 0px;
}
    
    

}



@media (min-width:768px) and (max-width:1023px){
    .sld-txt {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        margin: 0% auto;
    }
    #toggle_menu {
        width: auto;
        float: right;
        padding: 5px 10px;
    }
    .app-box ul {

        padding: 0;

    }
    .app-box ul li {
        width: 22%;
        float: left;
        margin: 0 10px;
    }
    .sld-txt h1 {
           letter-spacing: 0.5px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-size: 22px;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    }
    .sld-txt p {
      font-size: 13px;
    color: #fff;
    text-align: left;
    margin: 0px 0px 2px 0px;
    }
    .btn.btn-default {

        font-size: 10px;
    }
    .problm-tablist.nav-tabs>li {
        text-align: center;
        position: relative;
        width: 15%;
        padding: 5px;
        
        margin: 5px;
        height: 110px;

    }
    ul.nav.nav-tabs.problm-tablist.row.row-centered {
    margin: 0px -5px;
}
    .problm-tablist li:before {display: none;}
    .problm-tablist.nav-tabs>li img{
        width:40px;
        height: 40px;
    }
    .problm-tablist.nav-tabs>li a {
        padding:5px ;
        border-radius: 4px;
    
}
    p.tab_haed {
        text-align: center;
        margin: 5px 0;
        color: #000;
        font-size: 14px;
        padding-top: 5px;
    }
    .bg{
        background: none;
    }
    .fea-tile.top {
        background: rgba(204, 204, 204, 0.47);
        padding-bottom: 24px;
    }
    .fea {
        width: 100%;
        margin: 10px auto;
    }
    ul.service {
        padding: 1px 0px;
        list-style: none;
        text-align: center;
        min-height: 250px;
    }
    .feature_content {
        padding: 0 20px;
        padding-top: 6px;
    }
    .log-doc-img-box img {
        padding-top: 40px;
    }
    .per-img {
        width: 25%;
        float: left;
    }
    .per-detail {
        float: right;
        width: 70%;
    }
    .per-detail h2 {
        padding: 10px 0px;
        font-size: 20px;
        margin: 0px;
    }
    .per-detail h3 span.per-detail-la {
        margin: 0px;
        font-size: 14px;
        font-weight: 600;
    }
    .per-detail h3 span.res-dai {
        font-size: 14px;
        font-weight: normal;
    }
    .btn.btn-default {
        background: #d9cd26;
        color: #fff;
        padding: 5px 14px;
    }
    .per-detail h3 {
        padding: 0px;
    }
    .top-20{
        padding-top: 20px;
    }
    p.noti-date {
        float:left;
    }
    .dash-page h4 span.per-pro {
        font-size: 14px;
    }
    .per-detail1 {
        float: left;
        width: 82%;
        margin-left: 10px;
    }
    .per-img1 {
        width: 14%;
        float: left;
    }
    .home-persone-tile h2 {
        font-size: 18px;
        padding: 3px 0px 0px 0px;
    }
    .home-persone-tile h3 span.per-detail-la {
        margin: 0px;
        font-size: 14px;
        font-weight: 600;
    }
    .home-persone-tile h3 span.res-dai {
        font-size: 14px;
        font-weight: normal;
    }
    .home-persone-tile h3 {
        padding: 0px 0px 3px 0px;
        margin: 0px;
    }


    .user-profile-pic{
        position:relative;
        margin: 10px auto;
    }
    span.per-pro-data {
        font-size: 14px;
    }
    span.per-pro-value {
        font-size: 14px;
    }
    .sm-link.pull-left {
        padding: 0px 0px 0px 15px;
        font-size: 14px;
    }
    .col-lg-offset-2.col-lg-4.col-md-6.col-sm-12.col-xs-12.dash-page.top-20 {
        padding: 0px;
    }
    .txt-box {
        width: 100%;
        padding: 70px 0px 0px;
    }
    .txt-img {
        padding: 55px 0px 0px 0px;
    }
    .download_app_btn a.btn {
       margin-top:15px !important;
        font-size: 9px !important;
        padding: 7px 5px !important;
        border-bottom: 1px solid;
        border-left: 3px solid;
        border-right: 3px solid;
    }
    .tab-content.service-field {
      width: 100%;
    padding: 20px 30px;
    }
}
@media (min-width:1024px) and (max-width:1920px){
    .per-detail1 {
        float: left;
        width: 87%;
        margin-left: 10px;
    }
    .per-img1 {
        width: 11%;
        float: left;
    }
    .sld-txt h1 {
         font-size: 28px;
    text-shadow: 1px 1px 1px #000;
}






    }
    .app-box ul li {
        width: 22%;
        float: left;
        margin: 0 10px;
    }


    .home-persone-tile h2 {
        font-size: 24px;
        padding: 0px 0px;
    }
    
    .home-persone-tile h3 span.per-detail-la {
        margin: 0px;
        font-size: 16px;
        font-weight: 600;
    }
    .home-persone-tile h3 span.res-dai {
        font-size: 15px;
        font-weight: normal;
    }
    .home-persone-tile h3 {
        padding: 0px 0px 6px 0px;
        margin: 0px;
    }
    .home-persone-tile {
        width: 100%;
        padding: 20px 10px 20px 10px;
    }
}
@media (max-width: 1920px) and (min-width: 1024px){

}
@media (min-width: 768px) {
    .modal-dialog {
        width: 720px;
        margin: 30px auto;
    }
}
