/***********************theme css*****************/
body {
    font-family: 'Raleway', sans-serif !important;
    overflow-x: hidden;
}

.white {
    color: #fff !important;
}

.black {
    color: #414141 !important;
}

/*************** header css ******************/
a.navbar-brand {
    padding: 0px;
    height: auto;
}

.navbar-fixed-top {
    background: transparent !important;
    border: none !important;
}

.navbar-fixed-top.bg {
    background: #fff !important;
    box-shadow: 0px 0px 5px #6f6f6f;
}

.navbar {
    margin-bottom: 0px !important;
}

#toggle_menu {
    width: auto;
    float: right;
    padding: 5px 30px;
}

.download_app_btn a.btn {
     background: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    /* border: 2px solid; */
    border-top: 1px solid;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 7px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

a.btn.btn-lg.btn-info.btn-round:hover {
    background-color: #ddd14a;
    opacity: 1;
}

.download_app_btn a.btn:focus {
    background: #ddd14a;
    border: none;

}

nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top.sticky .download_app_btn a.btn {
   background: #ddd14a;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    border: 1px solid #ddd14a;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 7px;
}

nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top.sticky .download_app_btn a.btn:hover {
    border: 1px solid rgba(0, 0, 0, .25);
    background: #fff;
    color: #ddd14a;
}

a.navbar-brand img {
    max-height: 60px;
    width: 50px;
}

a.navbar-brand.page-scroll img {
    float: left;
    margin: 5px;
}

nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top.sticky a.navbar-brand.page-scroll span.logo-name {
    color: #000 !important;
}
nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top.sticky a.navbar-brand.page-scroll span.tag-line {
    color: #000 !important;
}

nav.navbar.navbar-default.navbar-custom.navbar-fixed-top.affix-top a.navbar-brand.page-scroll {
    color: #fff !important;
    font-weight: 600;
    font-size: 27px;
    float: left;
    padding: 0px 0px 0px 0px;
}
span.logo-name {
       float: left;
    margin-top: 12px;
    font-size: 27px;
    font-weight: 600;
    color: #fff;
}
span.tag-line {
        display: block;
    font-size: 12px;
    width: 100%;
    /* padding: 5px 0px 0px 0px; */
    line-height: 25px;
    font-family: 'Raleway', sans-serif !important;
    color: #fff;
}

.sticky.navbar-default .navbar-nav > li > a {
    color: #333333 !important;
    font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff !important;
    font-size: 14px;
        padding: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ddd14a !important;
        font-weight: 600;
}

.bg .navbar-nav > li > a {
    color: #333333 !important;
    font-size: 14px;
}

.bg .navbar-nav > li > a:hover {
    color: #b3a50c !important;
}

.item img {
    width: 100%;
    max-height: 550px;
    /*object-fit: cover;*/
    object-position: bottom;
}
.icon_mouse {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 90px;
}
.icon_mouse img {
    width: 100%;
    max-width: 25px;
    margin: 0 auto;
}

.banner .item img {
    width: 100%;
    max-height: 655px !important;
}
.txt-img {
    padding: 30px 0px 0px 0px;
}

.padding0 {
    padding: 0 !important;
}

.log-reg li {
    text-align: center;
    float: none !important;
    max-width: 100px;
    margin: 0 auto;
}

/**********testimonial css***********/
.testimonial1 img {
    float: left;
    width: 80px;
}

#testimonial .border {
    border-top: 5px solid #ddd14a;
}

.test_content {
    float: left;
    width: 80%;
    padding: 15px 25px;
    position: relative;
}

.test_content:before {
    content: '';
    width: 30px;
    height: 20px;
    background-image: url(../img/testi_icon.png);
    position: absolute;
    left: 0px;
    top: -15px;
    background-size: contain;
    z-index: 99;
    background-repeat: no-repeat;
}

section#testimonial {
    background: #f3f3f3;
}

.testimonial_slide {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.testimonial1 {
    width: 100%;
    float: left;
    padding: 20px 0px;
}

h4.testi_heading {
    font-size: 15px;
    color: #212121;
    font-weight: 600;
    margin: 0;
}

p.tab_haed {
    text-align: center;
    margin: 0px 0;
    color: #000;
    font-size: 16px;
    padding-top: 5px;
    height: 49px;
}

.def_heading {
    font-family: 'Open Sans';
    font-size: 45px;
    text-align: center;
    padding: 30px 0;
    font-weight: 600;
    color: #333333;
}

.problm-tablist {
    border: none !important;
}
.problm-tablist.nav>li>a {
    position: relative;
    display: block;
    padding: 7px;
    margin-right: 0px;
}
.problm-tablist.nav > li > a:focus, .problm-tablist.nav > li > a:hover {
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd14a;
    opacity: 1;
}

.problm-tablist.nav-tabs > li > a {
    border: 1px solid #ddd14a;
    border-bottom-color: transparent;
    background: rgba(49, 46, 11, 0.07);
    border-radius: 10px 10px 0px 0px;

}

.problm-tablist.nav-tabs > li {
    text-align: center;
    position: relative;
}

.problm-tablist li a span img {
    width: 65px;
    height: 65px;
}

.problm-tablist li:before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/right_border.png);
    background-repeat: no-repeat;
    top: 20px;
    opacity: .4;
    height: 80px;
    right: 0;
    width: 10px;
}

.problm-tablist li:last-child:before {
    display: none;
}
.problm-tablist.nav-tabs > li.active >a{
   box-shadow: 5px -5px 0px -2px rgba(221, 209, 74, 0.); 
}

.problm-tablist.nav-tabs > li.active:after {
    content: '\f103';
    position: absolute;
    font-family: FontAwesome;
    font-size: 35px;
    color: #ddd14a;
    left: 0;
    right: 0;
    bottom: -37px;
}

#click_mouse i.fa {
    font-size: 50px;
    color: #fff;
}

ul.doc_list {
    padding: 25px 15px;
    background: #f3f3f3;
    border-radius: 100px;
    margin-top: 30px;
    list-style: none;
    display: inline-table;
    text-align: center;
}

.detail h4 {
    font-size: 12px;
    font-weight: 600;
    margin: 0px;
    margin-top: 5px;
}

span.rating i.fa {
    color: #f3ca00;
    font-size: 12px;
}

p.rate {
    font-size: 14px;
    margin: 5px 0;
    font-weight: 600;
}

li.doc_list_item {
    cursor: pointer;
    display: inline-table;
    padding: 0 20px;
}

.doc_list_item img {
    height: 75px;
    width: 75px;
}

p.exp {
    font-size: 13px;
    margin: 0;
}

section#problem_area {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.feature_img {
    margin: 20px 0;
}

.features .row {
    width: 80%;
    margin: 0 auto;
}

.feature_content {
    padding: 0 20px;
    padding-top: 40px;
}

h4.feature_name {
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

p.feature_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

ul.service {
    padding: 0;
    list-style: none;
    text-align: center;
}

/***********how it workes***********/

section.how-it-works {
    background: rgba(37, 37, 37, 0.41);
    padding: 20px 0;
    background-image: url(../img/work-bg.jpg);
    background-size: cover;
}

ul.service {
    padding: 30px 0px;
    list-style: none;
    text-align: center;
}

.service li {
    color: #fff;
}

.ser_name {
    padding: 15px 0;
}

/*usha*****/

.service li {
    color: #fff;
}

.ser_name {
    padding: 15px 0;
}

section#appointment {
    background: #c1b73f;
    text-align: center;
    padding: 40px 0;
}

#appointment h3.def_heading {
    margin: 0;

}

.appoint a.btn {
    margin: 20px 0;
    border-radius: 25px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    border: 2px solid;
}

.appoint a.btn:focus {
    background: transparent;
    color: #fff;
    border-color: #fff;
}

p.app_text {
    color: #fff;
    font-size: 16px;
}

/***********Astrologer****************/
.Astrologer h3.def_heading {
    text-align: left;
}

section#health_Astrologer {
    padding: 20px 0;
    background-image: url(../img/Astrologer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.Astrologer p {
    line-height: 24px;
    font-size: 16px;
}

ul.Astrologer_list {
    padding: 10px 0px;
    list-style-position: inside;
    list-style: none;
}

.fea {
    width: 49%;
    margin: 10px auto;
}

.bg {
    background: url(../img/bg.png) no-repeat;
    background-position: center;
    background-size: 100%;
    padding: 10px 0px;
}

.fea-tile {

    text-align: center;
}

.fea-tile img {
    width: 60px;
}

.fea-tile h2 {
    text-align: center;
    margin: 15px;
    color: #d6c93a;
    font-size: 18px;
    padding-top: 10px;
}

.fea-tile.top {
    padding-bottom: 30px;
}

.fea-tile.bttm {
    padding-top: 30px;
}

.fea-tile {
    padding: 30px;
    margin: 0px auto;
}

hr.org-line {
    width: 30px;
    height: 5px;
    background: #525252;
    border-radius: 5px;
}

section.feature {
    padding: 30px 0px 70px 0px;
}

section.features {
    padding: 30px 0px;
}

/*section.banner {
    padding-top: 60px;
}*/

.Astrologer_list li {
    font-weight: 600;
    letter-spacing: 0.4px;
    font-size: 16px;
}
.Astrologer_list li::before {
    color: #ccc;
    content: '\f00c';
    font-size: 20px;
    font-family: FontAwesome;

    margin-right: 15px;

}

.padding0 {
    padding: 0px !important;
}

.banner_btn {
    margin: 10px 0 !important;
    background: rgba(0, 0, 0, 0.29) !important;
    color: #ddd14a !important;
}

.btn.btn-default {

    color: #777;
      padding: 6px 18px;
    border-radius: 30px;
    margin: 10px 10px 10px 0px;
    text-transform: uppercase;
    border: 1px solid #ddd14a;
    font-weight: 500;
    letter-spacing: 0.5px;

}

.btn.btn-default:focus {
    outline: none !important;
}

.btn.btn-default:hover {
    background: #ddd14a !important;
    color: #fff !important;

    border: 1px solid #ddd14a;
    transition: 0.6s;
}

.btn.btn-default:focus {
    background: rgba(0, 0, 0, 0);
    color: #b3a50c;
    border: 2px solid #b3a50c;
    transition: 0.6s;
    outline: none;
}

.btn.btn-default.btn_trans {
    background: rgba(0, 0, 0, 0);
    color: #000000;
    font-weight: 700;
    border: 2px solid #000;
}

.btn.btn-default.btn_trans:hover {
    background: #000000;
    color: #fff;
    transition: 0.6s;
    border: 2px solid #000;
}

.btn.btn-default.btn_trans:focus {
    background: #b3a50c;
    color: #fff;
    transition: 0.6s;
    outline: none;
}

.sign_up_btn.padding0 {
    padding-bottom: 30px !important;
}

.person-tile:hover {
    box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.46);
}

.person-tile {
    padding: 20px;
    text-align: center;
    margin: 15px 0px;
    box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.46);
}

.col-md-3.col-sm-4.col-xs-12.mid {
    float: none;
    display: inline-block;
}

.person-tile h3 {
    font-size: 14px;
    color: #a1a2a2;
    margin: 10px;
}

.person-tile h2 {
    font-size: 21px;
}

.person-tile p {
    font-size: 13px;
}

section.person {
    padding: 0px 0px 40px 0px;
}

.footer-cntr {
    background: #424141;
    padding: 20px 0px;
}

.footer-tile {
    padding: 20px 0px;
}

.footer-tile li a {
    color: #818181;
    text-decoration: none;
    font-size: 13px;
}

.footer-tile li a:hover {
    color: #d4cf00;
}

.footer-tile li {
    list-style: none;
    padding: 5px;
}

.footer-tile ul {
    padding-left: 0px;
}

.btn.btn-default.download {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #818181;
    color: #818181;
}

.btn.btn-default.download:hover {
    background: #ddd14a;
    color: #fff;
    padding: 8px 24px;
    border-radius: 30px;
    margin: 10px 10px 10px 0px;
    text-transform: uppercase;
    border: 2px solid #ddd14a;
}

.btn.btn-default.download:focus {
    background: #b3a50c;
    color: #fff;
    padding: 8px 24px;
    border-radius: 30px;
    margin: 10px 10px 10px 0px;
    text-transform: uppercase;
    border: 2px solid #b3a50c;
}

.copy-cntr {
    background: #383838;
    padding: 15px 0px;

}

.copy-cntr p {
    color: #595959;
    margin: 0px;
    font-size: 12px;
}

header {

    height: auto;
    background: #fff;
    color: #fff;
    z-index: 999;
/ / set animation -webkit-transition: all 0.4 s ease;
    transition: all 0.4s ease;

}
.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a{
    background-color: transparent !Important;
}
.nav>li ul.dropdown-menu {
    background: rgb(255, 255, 255);
    top: 38px;
    left: 0;
    right: 0;
    padding: 0 0;
    min-width: 135px !important;
}
.nav>li ul.dropdown-menu li a:hover {
color:#ddd14a;
}
.sticky {
    position: fixed !important;
    box-shadow: 0px 0px 6px #0d0d0d;
    height: 60px !important;
    width: 100%;
    background: #ffffff !important;
    text-align: left;
    z-index: 999 !important;
    border-radius: 0px !important;
}

.sticky.download_app_btn a.btn {
    background: #d4cf00;
    border: none;
    border-radius: 25px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.sld-txt {
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0% auto;
}

.sld-txt h1 {
    letter-spacing: 0.5px;
    color: #fff;
    font-weight: 600;
    text-align: left;
    font-size: xx-small;
    padding: 30px 0px 5px 0px;
    line-height: 34px;
}

.sld-txt p {
    color: #fff;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0.4px;
    /* float: left; */
    /* display: block; */
    line-height: 26px;
    font-weight: 500;
    text-shadow: 1px 2px 10px #000;
    padding-left: 25px;

}
i.fa.fa-check-square-o {
    margin-right: 8px;
    font-size: 18px;
    line-height: 28px;
    float: left;
    color: #d9ce27;
}
.txt-box {
    width: 100%;
    left: 0;
    /* text-align: center; */
    padding: 45px 10px 0px 0px;
}
.pd-30 {
    padding: 10px 40px !important;
}

border-radius:

0
px

!important
;
}
span.label-tile {
    font-weight: 500;
    color: #727272;
}

/*-----------------login-page-----------*/

.login-box {
    padding: 45px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    margin: 40px 30px;
}

.clear {
    clear: both;
}

.form-group1 img {
    width: 130px;
    margin-right: 10px;
}

.login-box .form-group1 {
    margin-bottom: 25px !important
}

#myModal button.close {
    font-size: 20px;
    color: #d4cf00;
    opacity: 1;
    outline: none;
    border: 1px solid;
    margin: 0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.modal-dialog {

    margin: 3% auto !important;
}

/*---------------------------------register-page-------------------------*/
.reg-cntr {
    padding: 70px 0;
    min-height: 570px;
}

.log-doc-img-box img {
    width: 75%;
    margin: 50px auto;
}

.has-error label.control.control--checkbox.terms {
    color: red;
}

.has-error .control__indicator {
    border-color: red;
}

.google {
    background: #dd4b38 !important;
    color: #fff !important;
    border: none !important;
}

.social {
    font-family: montserratre;
    width: 100%;
    float: left;
    border: 1px solid #000 !important;
    margin: 10px 0px;
    color: #000 !important;
    font-weight: 500 !important;
}

ul.nav.nav-tabs.log-reg {
    border: none;
}

.nav-tabs.log-reg > li.active > a, .nav-tabs.log-reg > li.active > a:focus, .nav-tabs.log-reg li.active > a:hover {
    color: #000000;
    cursor: default;
    background-color: #fff;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 2px solid #ddd14a;
    border-top: 1px solid transparent;
}

.nav-tabs.log-reg > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #333;
    text-transform: capitalize;
}

.nav-tabs.log-reg > li > a:hover {
    border-color: transparent;
    background-color: transparent;

}

.clear {
    clear: both;
}

hr.line {
    border-top: 1px solid #a9a9a9;
    margin: 8px auto;
}

.login-reg-box {
    margin: 15px auto;
    padding: 10px 10px;
    box-shadow: 0px 0px 5px #716d6d;
    border-radius: 10px;
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 11px;
    color: #777;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: rgba(230, 230, 230, 0);
    border: 1px solid #d4cf00;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #fff;
}

.control input:checked ~ .control__indicator {
    background: #fff;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #fff;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid #d4cf00;;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.login-reg-box label.control-label {
    font-weight: 500;
}

label.error {
    color: rgba(255, 0, 0, 0.42);
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
}

.panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

/***------------------------term-conditions-page-------------*****/
section#term-condition {
    margin-top: 60px;
}

.term-condition h3 {
    font-size: 34px;
    text-align: center;
    font-weight: 300;
    padding: 40px;
    font-family: 'Open Sans';
}

.term-condition p {

    text-align: justify;
    font-size: 15px;
    font-family: 'Open Sans';
}

.term-condition ul.custom-list > li {
    margin-left: 60px;
    font-family: 'Open Sans';
    text-align: justify;
    font-size: 15px;
}

.term-condition h5 {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
}

.term-condition ul.custom-list > li .item-no {
    margin-left: -60px;
    display: inline-block;
    width: 60px;
    font-family: 'Open Sans';
}

.term-condition ul, .tab ul {
    list-style-type: none;
}

.term-condition ul.lower-rom-list {
    list-style-type: lower-roman;
    margin-left: 20px;
}

ul.lower-rom-list li {
    font-size: 15px;
    font-family: 'Open Sans';
    text-align: justify;
}

.feature_img img {
    margin: 0px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 11px #949494;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

/*.app-box {*/
/*width: 300px;*/
/*margin: 20px auto;*/
/*}*/
.app-box {
    width: 100%;
    display: inline-block;
}

.app-box ul li {
    width: 20%;
    float: left;
    margin: 5px 10px;
}

.app-box ul li {
    width: 23%;
    float: left;
    margin: 0 10px;
}

.app-box ul li img {
    width: 100%;
    object-fit: cover;
}

.app-box ul {
    list-style: none;
    width: 100%;
    display: inline-block;
    margin: 20px 0;
}

.app-box a {
    float: left;
}

header.pg {
    background: #000;
    height: 60px;
}

section.disclamer {
    padding: 10px 0px 40px 0px;
}

section.disclamer p {
    letter-spacing: 0.7px;
    font-size: 13px;
}

section.disclamer h3 {
    border-bottom: 1px solid rgba(218, 218, 218, 0.59);
    padding: 20px 0px;
    margin: 20px 0px;
}

.footer-tile p {
    color: #818181;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
}

.footer-tile h3 {
    color: #818181;
    margin: 0px;
    padding: 0px 0px 20px 0px;
}

section.disclamer li {
    letter-spacing: 0.7px;
    font-size: 13px;
}

ol.privacy-list li {
    font-size: 16px;
    font-weight: 700;
}

ol.privacy-list-child li {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.7px;
}

ol.privacy-list-child li p {
    font-weight: 400;
    font-size: 13px;
}

ol.privacy-list li p {
    font-size: 13px;
    font-weight: 400;
}

ol.privacy-list-child1 li {
    font-weight: 400;
    font-size: 13px;
}

ol.privacy-list-child2 li {
    font-weight: 400;
    font-size: 13px;
}

ol.privacy-list11 li {
    font-size: 14px;
    font-weight: 400;
}

/*----------------------------------------------------------VideoCall------------------------------------------------------*/
/***------------------------term-conditions-page-------------*****/
section#term-condition {
    margin-top: 60px;
}

.term-condition h3 {
    font-size: 34px;
    text-align: center;
    font-weight: 300;
    padding: 40px;
    font-family: 'Open Sans';
}

.term-condition p {

    text-align: justify;
    font-size: 15px;
    font-family: 'Open Sans';
}

.term-condition ul.custom-list > li {
    margin-left: 60px;
    font-family: 'Open Sans';
    text-align: justify;
    font-size: 15px;
}

.term-condition h5 {
    font-weight: 700;
    font-size: 18px;
    margin: 10px 0;
}

.term-condition ul.custom-list > li .item-no {
    margin-left: -60px;
    display: inline-block;
    width: 60px;
    font-family: 'Open Sans';
}

.term-condition ul, .tab ul {
    list-style-type: none;
}

.term-condition ul.lower-rom-list {
    list-style-type: lower-roman;
    margin-left: 20px;
}

ul.lower-rom-list li {
    font-size: 15px;
    font-family: 'Open Sans';
    text-align: justify;
}

.label-info {
    background-color: #F44336;
}

.btn.btn-xs.astrolog {
    background: rgba(255, 255, 255, 0);
    color: #ddd14a;
    border: 1px solid #ddd14a;
    transition: 0.6s;
}

.btn.btn-xs.astrolog:hover {
    color: #fff;
    background: rgba(221, 209, 74, 0.4);
    border-color: #ddd14a;
}

#password_modal .box-body {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px 25px;
    background: rgba(221, 221, 221, 0.14);
}

.form-box {
    width: 100%;
    border: 1px solid #ccc;
    float: left;
    padding: 20px;
    box-shadow: 0px 0px 10px #8a8a8a;
}

.form-box p {
    text-align: center;
}

.form-box label {
    color: #000;
}

.form-box label {
    color: #6f6f6f;
    font-weight: 500;
}

.form-box input.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    background: transparent;
    padding: 0px;
}

.form-box input.form-control:focus {
    border-bottom: 2px solid #ddd14a;
}

.form-box textarea.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
    background: transparent;
    padding: 0px;
    height: 70px;
}

.form-box textarea.form-control:focus {
    border-bottom: 2px solid #ddd14a;
}

.form-box p {
    padding: 0px 0px 10px 0px;
    margin: 10px;
    font-size: 12px !important;
}

img {
    max-width: 100%;
}

a {
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 8 */
    filter: alpha(opacity=50); /* IE7 */
    opacity: 0.6;
    text-decoration: none;
}

hr.org-line {
    width: 30px;
    height: 5px;
    background: #c1b73f;
    border-radius: 5px;
    margin: 15px auto;
}

.thumbnails li > .fff .caption {
    background: #fff !important;
    padding: 0px
}

section.person {
    padding: 0px 0px 40px 0px;
    background: rgba(221, 209, 74, 0.18);
}

.pager li > a:focus, .pager li > a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #ada75f;
}

ul.thumbnails {
    margin-bottom: 0px;
}

/* Thumbnail Box */
.caption h4 {
    color: #000;
}

.caption p {
    color: #999;
}

/* Carousel Control */
.control-box {
    text-align: center;
    width: 100%;
}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ddd14a;
    border: 1px solid #ddd;
    border-radius: 15px;
    color: #fff;
}

.carousel-control {
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    }
}

@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}

@media (min-width: 1024px) and (max-width: 1160px) {
    .person-tile {
        min-height: 411px !important;
    }
}

li {
    list-style-type: none;
}

::selection {
    background: #ddd14a;
    color: #FFFFFF;
    text-shadow: 0;
}

::-moz-selection {
    background: #ddd14a;
    color: #FFFFFF;
}

.person-tile:hover {
    box-shadow: 0px 3px 10px rgba(51, 51, 51, 0.46);
}

.person-tile {
    background: #fff;
    padding: 10px;
    text-align: center;
    margin: 15px 0px;
    box-shadow: 0px 0px 6px rgba(51, 51, 51, 0.46);
    min-height: 350px;
}

.person-tile p {
    font-size: 12px;
    color: #868686;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 21px;
}

.thumbnail img {
    width: 100px;
    height: 100px !important;
    border-radius: 50%;
}

.thumbnail {
    border: none !important;
    margin-bottom: 10px !important;
}

.person-tile h3 {
    font-size: 14px;
    color: #aba02c;
    margin: 10px;
}

.person-tile h2 {
    font-size: 21px;
}

.person-tile p {
    font-size: 13px;
}
/*--------------------------------------------------Social Icons------------------------------------------------------------*/

a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sticky-social {
    left: 0;
    position: fixed;
    top: 45%;
    z-index: 999;
}
#sticky-social a {
    background: #333;
    color: #fff;
    display: block;
    height: 35px;
    font: 16px "Open Sans", sans-serif;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
}
#sticky-social a span {
    line-height: 35px;
    left: -120px;
    position: absolute;
    text-align:center;
    width:120px;
}
#sticky-social a:hover span {
    left: 100%;
}
#sticky-social a[class*="facebook"],
#sticky-social a[class*="facebook"]:hover,
#sticky-social a[class*="facebook"] span { background: #3b5998; }

#sticky-social a[class*="twitter"],
#sticky-social a[class*="twitter"]:hover,
#sticky-social a[class*="twitter"] span { background: #00aced; }

#sticky-social a[class*="gplus"],
#sticky-social a[class*="gplus"]:hover,
#sticky-social a[class*="gplus"] span { background: #dd4b39; }

#sticky-social a[class*="linkedin"],
#sticky-social a[class*="linkedin"]:hover,
#sticky-social a[class*="linkedin"] span { background: #007bb6; }

#sticky-social a[class*="instagrem"],
#sticky-social a[class*="instagrem"]:hover,
#sticky-social a[class*="instagrem"] span { background: #517fa4; }

#sticky-social a[class*="contact"],
#sticky-social a[class*="contact"]:hover,
#sticky-social a[class*="contact"] span {
    background: #ddcb4a;
}

#sticky-social a[class*="stumbleupon"],
#sticky-social a[class*="stumbleupon"]:hover,
#sticky-social a[class*="stumbleupon"] span { background: #eb4924; }

#sticky-social a[class*="pinterest"],
#sticky-social a[class*="pinterest"]:hover,
#sticky-social a[class*="pinterest"] span { background: #cc2127; }

#sticky-social a[class*="flickr"],
#sticky-social a[class*="flickr"]:hover,
#sticky-social a[class*="flickr"] span { background: #ff0084; }

#sticky-social a[class*="tumblr"],
#sticky-social a[class*="tumblr"]:hover,
#sticky-social a[class*="tumblr"] span { background: #32506d; }
/*---------user-login-page----------*/
.user-cntr {
    background: url(../img/user-login.jpg);
    text-align: center;
    background-size: cover;
    padding:60px 0px;
    min-height: 0px;
}
.user-cntr h2 {
    font-size: 24px;
    font-family: 'Raleway', sans-serif !important;
    margin: 10px 0px;
    border-bottom: 2px solid #d9cf27;
    padding: 0px 10px 10px 10px;
}
.login-reg-box.user-login-box {
    background: rgb(255, 255, 255);
    border-radius: 0px;
    padding: 20px;
    box-shadow: 3px 4px 5px #565656;

}
button.btn.btn-info.user-login.form-control {
    background: #d7c825;
    border: 1px solid #bbaf05;
}
.login-reg-box.user-login-box label.control.control--checkbox.terms{
    font-size: 12px;
}
.user-bg {
    background: url(../img/user-bg.png);
    background-size: cover;
    background-position: 100% 29%;
}
.dash-home-tile.text-center.user-tile img {
    width: 70px;
}
.dash-home-tile.text-center.user-tile {
    border: 2px solid #fff;
    border-radius: 0px;
    padding: 40px 0px;
    min-height: 180px;
    cursor:pointer;
}
.dash-home-tile.text-center.user-tile h4 {
    text-transform: uppercase;
    /* text-shadow: 1px 1px 1px #000; */
    margin: 0px;
    padding: 5px;
    font-size: 17px;
    /* min-height: 148px; */
}
.user-tile:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    background: rgba(210, 195, 32, 0.51);
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.03);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.03);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.03);
    transition: all 200ms ease-in;
    transform: scale(1.03);
    }
    .discussion-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
}
.discussion-box h1 img {
    width: 24px;
    float: left;
    margin-right: 5px;
}
.discussion-box h1 span {
    font-size: 14px;
    line-height: 24px;
    float: left;
}
.discussion-box h1 {
    padding: 0px;
    margin: 0px;
}
.discussion-box h2 {
    font-size: 22px;
    padding: 0px;
    margin: 6px 0px 15px 0px;
    color: #908400;
    font-weight: 600;
    cursor: pointer;
}

.modal-dialog.question-modal label img {
    width: 24px;
    margin-right: 5px;
    float:left;
}
.modal-dialog.question-modal label span {
  float:left;
  color:#333;
  font-weight: 500;
  line-height: 24px;
}
.modal-dialog.question-modal label img {
    width: 24px;
    margin-right: 5px;
}
input.form-control.question-field {
    border: none;
    outline: none;
    min-height: 40px;
    box-shadow: none;
    padding: 0px;
    font-weight: 500;
    color: #000;
}
button.close {
    background: rgb(197, 176, 1) !important;
    opacity: 1 !important;
    text-shadow: none;
    color: #fff;
    font-size: 24px;
    position: absolute;
    right: -11px;
    top: -11px;
    padding: 0px 0px 3px 0px !important;
    line-height: 20px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
}
.modal-dialog.question-modal h3 {
    margin: 0pc;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background: #c5b001;
    color: #fff;
}
button.btn.btn-default.btn-sm {
    margin: 0px 3px;
    padding: 3px 6px;
    float: left;
}
.modal-dialog.question-modal label.control.control--checkbox {
    width: 138px;
    float: left;
}
hr.light-line {
    margin: 15px 0px 10px 0px;
    border-top: 1px solid rgba(204, 204, 204, 0.52);
}
.question-box h4 {
    font-size: 20px;
    color: #424242;
    font-weight: 600;
    margin: 5px 0px 10px 0px;
}
.question-box p {
    font-size: 12px !important;
    /* letter-spacing: 0px !important; */
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px !important;
    line-height: 17px;
    padding-top: 0px;
}
.person-intro {
    width: 100%;
    float: left;
}
.person-intro-img {
    float: left;
}
.person-intro-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* margin: 0px auto; */
    margin-right: 10px;
}
.person-intro-detail {
    float: left;
    width: 80%;
}
.person-intro-detail p span {
    color: #7d7b7b;
    font-size: 10px !important;
        margin: 0px 5px 0px 0px;
}
.person-intro-detail h5 {
    margin: 3px 0px 5px 0px;
    color: #000;
    font-size: 15px;
}
div#more img {
    width: 80%;
    margin: 10px auto;
}
div#more h5 {
    line-height: 20px;
    font-weight: 600;
}
.count {
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    background: #eee;
    color: #999;
    font-weight: bold;
    min-width: 10px;
    padding: 2px 3px;
    margin-left: 4px;
    text-align: center;
    display: inline-block;
    float: none;
    font-size: 12px;
    padding: 1px 3px;
    margin: -3px 0 0 4px;
}
a.view_comments {
    text-decoration: none;
    color: #8c8c8c;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    margin: 0px 10px 0px 0px;
}
span.button_text {
    border-right: 1px solid #ccc;
    padding: 2px 5px;
}
a.Upvote.Button {
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 2px 3px;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    background: #eee;
    border-radius: 2px;
    color: #969292;
    margin: 5px 10px 0px 0px;
}
.question-detail .left img {
    margin: 0px 0px 10px 0px;
}
ul.share {
    padding: 0px;
    float: right;
    /* width: 100px; */
    margin: 0px;
}
ul.share li {
    float: left;
    font-size: 14px;
    /* padding: 4px; */
    /* color: #ccc; */
}
ul.share li a {
    color: #bfbfbf;
    text-decoration: none;
    font-size: 16px;
    padding: 2px;
}
.comment-box {
    /* width: 80%; */
    margin: 15px auto;
    background: #f6f6f6;
    padding: 15px;
    border: 1px solid #ccc;
}
.single-person-comment {
    width: 100%;
    float: left;
}
.single-person-img {
    width: 8%;
    float: left;
    text-align: center;
}
.comment-input-field {
    float: left;
    width: 90%;
}
.comment-input-field textarea {
    width: 84%;
    float: left;
    height: 33px !important;
    margin-bottom: 10px;
}
a.submit_button.comment_submit_button {
    float: left;
    font-size: 12px;
    background: #ddd14a;
    color: #fff;
    padding: 7px 9px;
    border-radius: 2px;
    margin: 0px 0px 0px 10px;
    text-decoration: none;
    border: 1px solid #c1b316;
}
.single-person-img img {
    width: 30px;
    height: 30px;
}
.ans-number h4 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
    margin: 5px 0px;
    color: #948a13;
}
.pd-top20{
    padding-top:10px;
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Conv_AlwynNewRounded-Medium',Sans-Serif;
    font-weight: 400;
    font-size: 13px;
    color: #2a2a2a;
    overflow-x: hidden;
}

input, textarea, button, select {
    font-family: 'Conv_AlwynNewRounded-Medium',Sans-Serif;
    font-weight: 400;
    outline: none !important;
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

.clearfix:after,
ul:after {
    content: '';
    clear: both;
    display: block;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

.fullwidth {
    width: 100% !important;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.question {
       font-size: 16px;
    color: #424242;
    font-weight: 500;
    cursor: pointer;

}
a {
    text-decoration: none !important;
    outline: none;
}

a:hover {
    text-decoration: none !important;
    outline: none;
    color: #fd9263;
}

p {
    margin-top: 0;
}

/* ---------------------------------------------------------- */
.fileUpload.btn.btn-primary {
    position: relative;
    width: 100%;
    padding: 0px;
    height: 30px;
    vertical-align: middle;
    background: #c5b001;
    border: 1px solid #b5a72f;
}
.fileUpload span{
    vertical-align: middle;
    line-height: 30px;}

.fileUpload input[type=file] {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
input.input-path {
    width: 100%;
    padding: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.left.que-img img {
    padding-top: 14px;
    height: 80px;
    width: 100%;
}
.Upvote.Button.blu {
    background: rgb(221, 209, 74);
    color: #fff;
}
span.count.blu {
    background: rgb(221, 209, 74);
    color: #fff;
}
.fullAns img {
    margin-top: 10px;
}
button.viem-more-bttt {
    background: #d9ce27;
    border: 1px solid #b7ad0d;
    color:#fff !important;
}
button.viem-more-bttt:hover {
       background: #bfb512;
    border: 1px solid #b7ad0d;
     color:#fff !important;
}
button.viem-more-bttt:focus {
       color: #ada123 !important;
}
.pd-bottom{
    padding-bottom: 10px;
}
.pd-top{
    padding-top: 10px;
}
a.text.text-info.givAnswer {
    border: 1px solid #bdb12d;
    padding: 3px 6px;
    margin: initial;
    border-radius: 4px;
    background: rgba(221, 209, 74, 0.23);
    color: #908707;
    font-size: 11px;
    }
    span.block {
    display: block;
    margin: 4px 0px;
}
span.block strong {
    color: #80771b;
    font-weight: 500;
}
.ans-number h5 {
       font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px;
    margin: 0px 20px 0px 0px;
    color: #948a13;
    float: left;
    line-height: 0px;
}

button#saveComment {
    margin: 0;
    padding: 2px 10px;
    float: right;
}
.is-booked {
    position: absolute;
    right: 0px;
    top: -5px;
}
.story_tile {
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    background: rgba(245, 245, 245, 0.55);
    margin-bottom: 20px;
}

.story_content p {
    padding: 0 10px;
    letter-spacing: 0.8px;
    text-align: left;
    font-size: 13px;
    color: #333;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.story_head strong {
    color: rgb(117, 102, 26);
}
.story_head h2 {
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    text-transform: capitalize;
    color: #c9b138;
    padding: 5px 5px !IMPORTANT;
}

.story_content {
    height: 210px;
    overflow: hidden;
    overflow-y: scroll;
}

.story_content::-webkit-scrollbar-track
{color: transparent;
    -webkit-box-shadow:inset 0 0 6px transparent;
    border-radius: 10px;
    background-color: transparent;
}

.story_content::-webkit-scrollbar
{
    width: 3px;
    background-color: transparent;

}
/*.story_footer a {*/
/*width: 100%;*/
/*display: inline-block;*/
/*border-radius: 8px;*/
/*padding: 5px 0;*/
/*color: #c9b138;*/
/*background: transparent;*/
/*border: 1px solid rgba(178, 178, 178, 0.63);*/
/*font-size: 14px;*/
/*font-weight: 600;*/
/*}*/

.story_content::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: tinset 0 0 6px transparent;
    background-color: transparent;

}
.story_footer a {
    width: 100%;
    display: inline-block;
    border-top: 1px solid #ccc;
    background: rgba(210, 195, 32, 0.22);
    font-size: 14px;
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.71);
    letter-spacing: 1px;
    font-weight: 500;
}
.story_footer a:hover{
    background: rgb(210, 195, 32);
    color: #fff;
    font-weight: 600;
}
a.disable {
    background: #d2c320;
    /*cursor: no-drop;*/
    color: #fff;
}
a.disable:hover{
    background: #d2c320 !important;
    color: #fff !important;
}
.tab-content.service-field {
    padding: 30px;
    margin:0px auto 10px;
    border: 1px solid rgb(221, 209, 74)
}
.tab-content.service-field h3 {
      margin: 0px 0px 10px 0px;
    padding: 10px 0px 20px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.tab-content.service-field h3::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #ddd14a;
    bottom: 9px;
}
.tab-content.service-field h3::after {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 8px;
    background: #d7d7d7;
    content: "";
    left: 0px;
}
.tab-content.service-field li{
    font-size: 12px;
}
.tab-content.service-field li {
    font-size: 13px;
    letter-spacing: 0.4px;
    padding: 2px 0px;
}
.tab-content.service-field li i {
    color: #a29826;
    margin-right: 5px;
}
.tab-content.service-field ul{
    padding-left: 22px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd14a !important;
    border-bottom-color: transparent !important;
    }

button#sendFeedbackNotification {
    padding: 2px 10px;
    float: right;
    margin: 0px 10px;
    border: 1px solid #8e8630;
    color: #555;
}

.Astrologer {
    margin-top: -60px;
    padding-top: 0px;
}