
/***********************theme css*****************/
body{font-family: 'Raleway', sans-serif !important;    overflow-x: hidden;}
.white{color: #fff !important;}
.black {
    color: #414141 !important;
}
.reciver-box {
    height: 500px;
    /* max-height: 500px; */
    background: #ccc;
    cursor: pointer;
    position: relative;
    width: 100%;
    margin: auto;
    box-shadow: 3px -2px 5px rgba(6, 6, 7, 0.25)
}
.reciver-box:hover .call-button-box{
    opacity: 1;
    transition: all .2s ease-in-out;
}

.call-button-box {
    opacity: 0;
    transition: all .2s ease-in-out;
    position: absolute;
    /* border: 0px; */
    bottom: 20px;
    left: 38%;
    /* margin: 0px auto; */
    text-align: center;
}
.caller-box {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: 200px;
    border: 1px solid rgba(8, 1, 2, 0.09);
}
button.btn-call-icon {
    background:#fff;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #212121;
    margin: 10px;
    outline:none;
}
button.btn-call-icon.call {
    background: #f44336;
    color: #fff;
    border: 2px solid #f44336;
}
.btn.btn-default {
    background: #fd9263;
    color: #fff;
    padding: 8px 24px;
    border-radius: 30px;
    margin: 10px 10px 10px 0px;
    text-transform: uppercase;
    border: 2px solid #fd9263;
    font-weight: 700;
}
.btn.btn-default:hover {
    background: #fff;
    color: #fd9263;
    border: 2px solid #fd9263;
    transition: 0.6s;
}
.btn.btn-default.btn_trans {
    background: rgba(0, 0, 0, 0);
    color: #fd9263;
    font-weight: 700;
}
.btn.btn-default.btn_trans:hover {
    background: #fd9263;
    color: #fff;
    transition: 0.6s;
}

button.close.connection {
    position: absolute;
    top: -13px;
    right: -13px;
    background: #fd9263;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    outline: none;
}
h4.modal-title img {
    width: 140px;
    height: 140px;
}
.modal-body.connection {
    padding: 40px 20px;
}
/**-----------------media query------------------------**/
@media (min-width: 320px) and (max-width: 767px){
    .reciver-box {
        background:#ccc;
        width: 96%;
        min-height: 400px;
        margin: 3% auto;
        /* box-shadow: 3px -2px 5px rgba(6, 6, 7, 0.25); */
        border: 1px solid #ccc;
    }
    .caller-box {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
        width: 90px;
        height: 90px;
        margin: 10px;
        border: 1px solid #cccaca;
    }
    .call-button-box {
        opacity: 0;
        transition: all .2s ease-in-out;
        position: absolute;
        /* border: 0px; */
        bottom: 20px;
        left: 14%;
        /* margin: 0px auto; */
        text-align: center;
    }
    .modal-dialog.connection {
        position: relative;
        width: auto;
        margin: 10% 5%;
    }
}
@media (min-width: 768px) and (max-width: 1024px){

    .reciver-box {
        border: 1px solid #ccc;
        background: #ccc;
        min-height: 550px;
        cursor: pointer;
        position: relative;
        width: 92%;
        margin: 3% auto;
        box-shadow: 3px -2px 5px rgba(6, 6, 7, 0.25);
    }
    .caller-box {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        width: 150px;
        height: 150px;
        border: 1px solid #ccc;
    }
    .call-button-box {

        left: 33%;

    }
}
@media (min-width: 1025px) and (max-width: 1365px){
    .reciver-box {
        min-height: 530px;
    }

}

.note-editor .btn.btn-default {
    color: #504f4f;
    background-color: #fff !important;
    /* border-color: #c3c3c3; */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0px;
    padding: 3px 8px;
    font-family: 'Raleway', sans-serif !important;
    font-size: 11px;
}
.note-editor .btn.btn-default:hover{
    border: 1px solid #fd9263;
}
.note-editor .note-editable {
    padding: 10px;
    overflow: auto;
    outline: 0;
    background: #fff !important;
}
section.videocall-cntr {
    padding: 20px 0px;
}
.wd-18{
    width:180px;
}
.note-color.btn-group.open .dropdown-menu{
    left:-100px;
}
.note-popover .popover .popover-content .dropdown-menu .dropdown-menu {
    min-width: 90px;
    left: -80px !important;
}
.note-editor .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    border: 1px solid #fd9263;
}

#local-media video{
    width: 100%;
    height: 147px;
}

/*#remote-media video{
    width: 100%;
    max-height: 530px;
    text-align: center;
}*/

.video-error {
    position: relative;
    top: 111px;
    left: 0;
    right: 0;
    bottom: 0;
}

.animate> div {
    -webkit-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
    background-color: red;

}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes blink {
    from {
        background-color: red;
    }
    to {
        background-color: white;
    }
}

/* Standard syntax */
@keyframes blink {
    from {
        background-color: red;
    }
    to {
        background-color: white;
    }
}

#clockdiv {
    border: 1px solid #ccc;
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    width: 100%;
    padding: 10px 0px;
    margin: 8px 0;
    border-radius: 3px;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #cccccc;
    display: inline-block;
}

#clockdiv.expired > div {
    background: red;
}

#clockdiv.expired .smalltext {
    color: #FFFFFF;
    font-weight: 600;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #4c8efc;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
    color: #4c8efc;
}
#clockdiv h4 {
    text-decoration: underline;
    margin: 5px 0px;
    color: #4c8efc;
}
.timer{
    padding:0px 15px;
}
.sh_time p {
    font-weight: 600;
    color: #4c8efc;
    font-size: 14px;
}

.sh_time p b {
    color: rgba(0, 0, 0, 0.59);
    padding: 0 5px;
}


button.btn-call-icon.cross {
    background: red !important;
}

button.btn-call-icon.cross i.fa {
    color: #fff !important;
}
#remote-media {
    width: 100%;

    display: inline-block;

    height: 500px;
}
div#remote-media video {
    width: 100%;
    height: 100%;
    position: absolute;
}
.user1 {
    width: 100%;
    float: left;
    height: 100%;
    min-height: 550px;
}
.user2 {
    float: left;
    width: 50%;
    padding: 5px 5px;
    height: 100%;
    /*min-height: 550px;*/
}
.user3 {
    float: left;
    width: 50%;
    padding: 5px 5px;
    height: 100%;
    min-height: 225px;

}
.user9{
    float: left;
    width: 33%;
    padding: 5px 5px;
    height: 100%;
    min-height: 110px;
}


.caller-box {
    position: absolute;
    /*bottom: 55px;*/
    right: 0;
    margin: 20px;
    width: 200px;
    border: 1px solid rgba(8, 1, 2, 0.09);
}
.error_msg {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(204, 204, 204, 0.55);
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}

.video-error {
    position: relative;
    top: 111px;
    left: 0;
    right: 0;
    bottom: 0;
}
button.close_btn {
    background: transparent;
    border: none;
    color: #f50425;
    font-size: 30px;
}
button.btn-call-icon.cross {
    background: red !important;
}

button.btn-call-icon.cross i.fa {
    color: #fff !important;
}